.App {
  text-align: center;
  display: block;
}

.appContainer {
  display: inline-grid;
  grid-auto-columns: auto;
}

.navbar {
  display: inline;
  position: relative;
  height: auto;
  padding: 10px;
  color: black;
  border-bottom: slategray;
  border-bottom-width: medium;
  float: left;
}

.navRight {
  float: right;
}

.login {
  display: inline-flex;
  position: center;
}

.dashboard {
  display: inline-flex;
  float: top;
}

.widgets {
  display: inline-grid;
  background-color: slategray;
  width: 500px;
  height: 300px;
  float: bottom;
}

